
.bg-main {
  display: flex;
  height: 100vh;
  flex-direction: column;

  font-size: calc(10px + 2vmin);

  color: white;
  background-color: #212121;

  align-items: center;
  justify-content: center;
}

.btn-layout {
  display: flex;
  width: 75%;
  flex-direction: column;

  gap: .5rem;
}

.btn {
  padding: .7rem 1rem;

  font-size: 1.1rem;
  font-weight: 500;

  cursor: pointer;
  transition: all ease-in-out .3s;

  color: white;
  border: 0;
  border-radius: 5px;
  background: #01579b;
}

.btn:hover {
  background-color: #0277bd;
}
.btn-game-layout {
  display: flex;

  row-gap: 2em;
}
.btn-game {
  font-size: 2rem;

  cursor: pointer;
  transition: all ease-in-out .3s;

  border: 0;
  background: none;
}

.btn-game:hover {
  scale: 1.25;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}

.spacer-1 {
  height: 1em;
}

.spacer-2 {
  height: 2em;
}

.spacer-3 {
  height: 3em;
}


.scoreboard {
  display: flex;
  width: 50%;
  padding: 1rem;
  flex-direction: column;

  border-radius: 10px;
  background-color: #263238;
}

.scoreboard__title {
  font-size: 1.2rem;
  font-weight: 700;

  text-transform: uppercase;
}

.scoreboard__text {
  font-size: 1rem;
  font-weight: 500;
}

.scoreboard__text-total {
  padding-top: .1rem;
  margin-top: .4rem;

  border-top: 1px solid;
}

.scoreboard__text-fwRegular {
  font-weight: normal;
}

.board {
  display: flex;
  width: 75%;
  padding: .8rem 1rem;
  flex-direction: column;

  text-align: center;

  border-radius: 10px;
  background-color: #0288d1;
}

.board__title {
  font-size: 1.2rem;
  font-weight: 500;
}

.board__chose {
  font-size: 1.5rem;
  font-weight: normal;
}

.Ganaste, .Empate, .Perdiste {
  font-weight: 600;
}

.Ganaste {
  color: #66bb6a;
}

.Perdiste {
  color: #f44336;
}

/* =============================== */
/*          Media Queries          */
/* =============================== */

/* --------- From Tablet --------- */

@media screen and (min-width: 768px) {
  .layout {
      display: flex;

      background-color: #212121;

      justify-content: center;
  }

  .bg-main {
      min-width: 600px;
  }
}